section{
    margin-top: 4rem !important;
    padding-inline: 15vh;
    height: 25vh;

    &  .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
        transition: all 0.5s;
        & > .row{
            & > .col-2{
                & > p{
                    color: #05365b;
                    font-size: 1rem !important;
                    font-weight: 700;
                    margin-bottom: 0px !important;
                    line-height: 11px;

                    small{
                        font-size: 0.55rem !important;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}